.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media  screen and (max-width: 576px) {
  #lezioni .row>.left,
  #lezioni .row>.right,#steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,.row{
    width: 100%;
    margin: 0;
  }
  #lezioni .row{
    background-color: papayawhip;
  }
  #why .row{
    background-color: peru;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 h3{
   margin: 0;
 }
 .container.grey{
   padding-top: 5px;
 }
 #lezioni .row h1{
   padding-top: 10px;
 }
 #steps img{
   padding-top: 20px;
 }
 img{
   height: 100px;
 }
 #why .row img{
   padding: 15px;
   height: 70px;
  }
  #why .row h1{
  padding-top: 10px;
  }
  #why .row hr{
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
  }
  }


@media screen and (min-width: 577px) and (max-width: 1199px){
  #lezioni .row>.left,
  #lezioni .row>.right,#steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,.row{
    width: 100%;
    margin: 0;
  }
  img{
    animation-name: minchiata;
    animation-timing-function: linear;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
  }
}
@keyframes minchiata{
      from{
        transform: rotate(0);
      }
      from{
        transform: rotate(1turn);
      }
}




/* @media  screen and (max-width: 576px) {
  #lezioni .row>.left,
  #lezioni .row>.right,#steps .row>.left,
  #steps .row>.central,
  #steps .row>.right,.row{
    width: 100%;
    margin: 0;
  }
  #lezioni .row{
    background-color: papayawhip;
  }
  #why .row{
    background-color: peru;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 h3{
   margin: 0;
 }
 .container.grey{
   padding-top: 5px;
 }
 #lezioni .row h1{
   padding-top: 10px;
 }
 #steps img{
   padding-top: 20px;
 }
 img{
   height: 100px;
 }
 #why .row img{
   padding: 15px;
   height: 70px;
  }
  #why .row h1{
  padding-top: 10px;
  }
  #why .row hr{
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0;
  }
  }
} */